Степы по автору Dancing Rebel

Название: Back&Forth
 Тип: null
 Автор: Dancing Rebel
 Эра: EARLY_NEW
 Теги: [кулаки , ладони , нейтрально , поворот ]

Название: Non stop
 Тип: null
 Автор: Dancing Rebel
 Эра: EARLY_NEW
 Теги: []

Название: Swiss
 Тип: null
 Автор: Dancing Rebel
 Эра: EARLY_NEW
 Теги: [кулаки , ладони , smooth , гармошка , кокетливость ]